<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/e867552bb5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <img src="./img/logo.png" alt="Logo">
        <button class="burguer-menu">
            <i class="fa-solid fa-bars"></i>
        </button>
    </header>
    <main>
        <section class="articles-section">
            <article class="product-card">
                <img src="./img/img-phone-01.jpg" alt="imagen producto">
                <h3>Nombre del producto</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem accusantium distinctio
                    officia officiis similique veritatis nobis excepturi dolores ex...</p>
            </article>
            <article class="product-card">
                <img src="./img/img-phone-02.jpg" alt="imagen producto">
                <h3>Nombre del producto</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem accusantium distinctio
                    officia officiis similique veritatis nobis excepturi dolores ex...</p>
            </article>
            <article class="product-card">
                <img src="./img/img-phone-03.jpg" alt="imagen producto">
                <h3>Nombre del producto</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem accusantium distinctio
                    officia officiis similique veritatis nobis excepturi dolores ex...</p>
            </article>
            <article class="product-card">
                <img src="./img/img-phone-01.jpg" alt="imagen producto">
                <h3>Nombre del producto</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem accusantium distinctio
                    officia officiis similique veritatis nobis excepturi dolores ex...</p>
            </article>
            <article class="product-card">
                <img src="./img/img-phone-02.jpg" alt="imagen producto">
                <h3>Nombre del producto</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem accusantium distinctio
                    officia officiis similique veritatis nobis excepturi dolores ex...</p>
            </article>
            <article class="product-card">
                <img src="./img/img-phone-03.jpg" alt="imagen producto">
                <h3>Nombre del producto</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem accusantium distinctio
                    officia officiis similique veritatis nobis excepturi dolores ex...</p>
            </article>
        </section>
        <section class="extra-section">
            <article  class="article-tittle">
                <h1>Tutoriales</h1>
            </article>
            <article class="tuto-card">
                <img src="./img/aside-01.jpg" alt="imagen tutorial">
                <h3>Titulo del tutorial de reparación</h3>
            </article>
            <article class="tuto-card">
                <img src="./img/aside-02.jpg" alt="imagen tutorial">
                <h3>Titulo del tutorial de reparación</h3>
            </article>
            <article class="tuto-card">
                <img src="./img/aside-03.jpg" alt="imagen tutorial">
                <h3>Titulo del tutorial de reparación</h3>
            </article>
            <article class="tuto-card">
                <img src="./img/aside-04.jpg" alt="imagen tutorial">
                <h3>Titulo del tutorial de reparación</h3>
            </article>
        </section>
        <section class="extra-section">
            <article  class="article-tittle">
                <h1>publicidad</h1>
            </article>
            <div class="img-publicidad">
                <img src="./img/ad-01.jpg" alt="imagen publicidad">
                <img src="./img/ad-02.jpg" alt="imagen publicidad">
            </div>
        </section>
    </main>
</body>

</html>